<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FeatureGrid</title>
    <link rel="stylesheet" href="./CSS/index.css">
</head>
<body>
    <div class="FeatureGrid">
        <div class="FeatureGrid__item">
            <img class="icon" alt="search bar" src="https://images.prismic.io/frontendpractice/f990db40-ba07-479c-b52c-3b2c6caabc89_domain.png?auto=compress,format">
            <p class="FeatureGrid__item__text">Enhance your skills by building real websites selected for their educational value.</p> 
        </div>
        <div class="FeatureGrid__item">
            <img class="icon" alt="grid menu" src="https://images.prismic.io/frontendpractice/65eee214-bbfe-4f9e-ad0f-70f7785679be_layout.png?auto=compress,format">
            <p class="FeatureGrid__item__text">Test and improve your frontend knowledge through various challenges.</p>     
        </div>
        <div class="FeatureGrid__item">
            <img class="icon" alt="color strips" src="https://images.prismic.io/frontendpractice/8d3c1f70-6ff3-41f0-b9d6-3b46f2899359_pantone.png?auto=compress,format">
            <p class="FeatureGrid__item__text">Use the provided color palettes for each project to save time.</p> 
        </div>
        <div class="FeatureGrid__item">
            <img class="icon" alt="blub" src="https://images.prismic.io/frontendpractice/d6e88860-7347-4d32-acf8-aa1f01db8685_idea.png?auto=compress,format">
            <p class="FeatureGrid__item__text">Find helpful, curated resources to tackle challenging elements.</p>    
        </div>

    </div>
</body>
</html>